<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>User Dashboard</title>
    <!-- ALL CSS RESET -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/cssReset.css"> -->
    <!-- BOOT STRAP v4.3.1 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <!-- FOR NAVBAR -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- fontawesome 5 webkit from abdullah -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">  -->
    <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

    <!-- FOR NAVBAR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->
</head>

<body>

    <%- include ("./partials/navbar.ejs") %>

        <div class="main-container">
            <main class="container">
                <div style="display: none;" id="user">
                    <input id="user_name" type="text" value="<%= user_status.name %>">
                    <input id="user_eligibility" type="text" value="<%= user_status.eligibility %>">
                    <input id="user_active" type="text" value="<%= user_status.active %>">
                </div>

                <div class="row">
                    <div class="card-03">
                        <h4>Welcome, <b><span id='name'>Username</span></b></h4>
                    </div>
                    <div class="toggle">
                        <div class="toggle-switch">
                            <h5 style="margin-right: 1rem;">Active Status </h5>
                            <label class="switch">
                                <input type="checkbox" id="active_status" value="false" onclick="updateActive()">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <span id="warning-message" style="display: none; color: red;">* Perform eligibility test to
                            enable the option</span>
                        <!--     
                        <div class="toggle-switch">
                            <h5 style="margin-right: 1rem;">Eligibility Status </h5>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div> -->


                    </div>
                    <hr>
                    <div class="row">
                        <div class="card-01" url="#">
                            <a href="#" class="stretched-link" style="  text-decoration: none; color: inherit;">
                                <i class="fa fa-user-plus fa-5x mr-2"></i>
                                <p class="lead">My Profile </p>
                            </a>

                        </div>
                        <div class="card-01">
                            <a href="/eligibility-test" class="stretched-link"
                                style="  text-decoration: none; color: inherit;">
                                <i class="fa fa-user-md fa-5x mr-2"></i>
                                <p class="lead">Eligibility test </i></p>
                            </a>
                        </div>
                        <div class="card-01">
                            <a href="#" class="stretched-link" style="  text-decoration: none; color: inherit;">
                                <i class="fa fa-th-list fa-5x mr-2"></i>
                                <p class="lead">Request Feed </i></p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-01">
                            <a href="/search-donor" class="stretched-link"
                                style="  text-decoration: none; color: inherit;">
                                <i class="fa fa-group fa-5x mr-2"></i>
                                <p class="lead">Donors </p>
                            </a>
                        </div>
                        <div class="card-01">
                            <a href="/search-org" class="stretched-link"
                                style="  text-decoration: none; color: inherit;">
                                <i class="fa fa-hospital-o fa-5x mr-2"></i>
                                <p class="lead">Organizations </p>
                            </a>
                        </div>
                        <div class="card-01">
                            <a href="#" class="stretched-link" style="  text-decoration: none; color: inherit;">
                                <i class="fa fa-hourglass-2 fa-5x mr-2"></i>
                                <p class="lead">My Donations </p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-01">
                            <a href="#" class="stretched-link" style="  text-decoration: none; color: inherit;">
                                <i class="fas fa-hand-holding-heart fa-5x mr-2"></i>
                                <p class="lead">My Requests </p>
                            </a>
                        </div>
                    </div>
            </main>

        </div>


        <%- include ("./partials/footer.ejs") %>


            <script>
                $(document).ready(function () {
                    $("#name").html($("#user_name").val());
                    if ($("#user_eligibility").val() === 'yes') {
                        if ($("#user_active").val() === 'yes') $("#active_status").attr('checked', true);
                        else $("#active_status").attr('checked', false);
                    }
                    else {
                        $("#active_status").attr('checked', false);
                        $("#active_status").attr('disabled', true);
                        $("#warning-message").show();
                    }
                });

                function updateActive() {
                    var decider = document.getElementById('active_status');
                    if (decider.checked == true) {
                        $.ajax({
                            type: 'GET',
                            data: { value: 'yes' },
                            url: '/dashboard/update-active',
                            async: false,
                            success: function (data) {
                                // console.log(data);
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            data: { value: 'no' },
                            url: '/dashboard/update-active',
                            async: false,
                            success: function (data) {
                                // console.log(data);
                            }
                        });
                    }
                }



            </script>



            <script src="assets/js/jquery-3.2.1.min.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous">
                </script>
            <!-- FOR NAVBAR -->
            <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</body>

</html>