<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>My-Profile</title>
    <!-- ALL CSS RESET -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/cssReset.css"> -->
    <!-- BOOT STRAP v4.3.1 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <!-- FOR NAVBAR -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- fontawesome 5 webkit from abdullah -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">  -->
    <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myProfile.css">

    <!-- FOR NAVBAR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->
</head>

<body>
    <%- include ("./partials/navbar.ejs", {name: navbar.name, photo: navbar.photo}) %>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <!-- <img src="../profile/avatar.png" alt="User"
                                        class="rounded-circle" width="200"> -->
                                    <img src="<%= user.img %>" alt="User" class="rounded-circle" width="200">
                                    <div class="mt-3">
                                        <h5>
                                            <%= user.fullname %>
                                        </h5>
                                        <p class="text-danger mb-1" style="font-weight: 500; font-size: x-large;">
                                            <%= user.bg %>
                                                <!-- AB+ -->
                                        </p>
                                        <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                                        <!-- <button class="btn btn-primary">Follow</button> -->
                                        <button class="btn btn-outline-info">Notifications</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" id="profile">
                            <input id="opening_tab" type="text" value="<%= tab %>">
                            <input id="requests_counting" type="text" value="<%= user.requests_count %>">
                            <input id="eligibility_counting" type="text" value="<%= user.eligibility_score %>">
                            <input id="donation_counting" type="text" value="<%= user.donated %>">
                        </div>
                        <div class="card mt-3">
                            <div class="tab">
                                <button class="tablinks" onclick="openContent(event, 'general')"
                                    id="generalContent">General</button>
                                <button class="tablinks" id="donationsContent"
                                    onclick="openContent(event, 'donations')">My Donations</button>
                                <button class="tablinks" id="requestsContent"
                                    onclick="openContent(event, 'requests')">My Requests</button>
                                <button class="tablinks" id="responsesContent"
                                    onclick="openContent(event, 'responses')">My Responses</button>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="general" class="tabcontent">
                            <div class="row gutters-sm">
                                <div class="col-sm-4 mb-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h4>Eligibility Score</h4>
                                            <h1 class="eligibility-score" id="elg-score">0</h1>
                                            <h6 class="text">out of 10</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h4>Donated</h4>
                                            <h6 class="text">about</h6>
                                            <h1 class="no-of-responds" id="responds-count">0</h1>
                                            <h6 class="text">times</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h4>Requested</h4>
                                            <h6 class="text">for</h6>
                                            <h1 class="no-of-requests" id="requests-count">0</h1>
                                            <h6 class="text">bag(s)</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.fullname %>
                                                <!-- Kenneth Valdez -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Contact Number</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.contact %>
                                                <!-- (239) 816-9029 -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.email %>
                                                <!-- abcd@gmail.com -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Profession</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.profession %>
                                                <!-- abcd@gmail.com -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Date of Birth</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.dob %>
                                                <!-- 03/28/1999 -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Age</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.age %> year(s)
                                                <!-- 03/28/1999 -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Blood Group</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.bg %>
                                                <!-- AB+ -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Gender</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.gender %>
                                                <!-- Female -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.address %>
                                                <!-- Bay Area, San Francisco, CA -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="display: flex; justify-content: center;">
                                        <div class="col-sm-6">
                                            <span class="edit-profile-btn"><a href="<%= user.editLink %>"
                                                    class="add-link">Edit
                                                    Profile</a></span>
                                            <!-- <button class="edit-profile-btn">Edit profile</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="donations" class="tabcontent">
                            <div class="row gutters-sm">
                                <div class="col-sm-12 mb-3">
                                    <div class="card h-100" id="add-donation-card">
                                        <div class="card-body-add-donation">
                                            <span class="add-donation-btn"><a href="/add-new-donation"
                                                    class="add-link">Add
                                                    Donation</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Filter Disable -->
                            <!-- <div class="row gutters-sm">
                                <div class="col-sm-12 mb-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="row-filter">
                                                <div class="filter">
                                                    <h1>Add Filters</h1>
                                                </div>
                                                <br>
                                                <div class="row-filter">
                                                    <div class="col-md-12 mb-4">
                                                        <select name="blood_group" class="form-control" id="basic_bg"
                                                            tabindex="-1" "
                                                                    aria-hidden=" true" required>
                                                            <option disabled selected value="">Blood Group</option>
                                                            <option value="A+">A+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B+">B+</option>
                                                            <option value="B-">B-</option>
                                                            <option value="O+">O+</option>
                                                            <option value="O-">O-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-filter">
                                                    <div class="col-md-12 mb-4">
                                                        <select name="gender" class="form-control" id="basic_gender"
                                                            tabindex="-1" "
                                                                aria-hidden=" true" required>
                                                            <option disabled selected value="">District</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-filter">
                                                    <div class="col-md-12 mb-4">
                                                        <select name="gender" class="form-control" id="basic_gender"
                                                            tabindex="-1" "
                                                                aria-hidden=" true" required>
                                                            <option disabled selected value="">District</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="btn-01">
                                                    <button class="reset-btn" type="submit">Reset</button>
                                                    <button class="apply-btn" type="submit">Apply</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Patient's Name</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Date of Donation</th>
                                            <th scope="col">View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(typeof donation !='undefined' ) { %>
                                            <% donation.forEach(function(d) { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= d.serialID %>
                                                    </th>
                                                    <td>
                                                        <%= d.patient %>
                                                    </td>
                                                    <td>
                                                        <%= d.location %>
                                                    </td>
                                                    <td>
                                                        <%= d.date %>
                                                    </td>
                                                    <td><a href="/view/donation/<%= d.donation_id %>">View</a></td>
                                                </tr>
                                                <% }) %>
                                                    <% } %>
                                                        <!-- <tr>
                                            <th scope="row">2</th>
                                            <td>Mark</td>
                                            <td>Square Hospitals,Dhaka</td>
                                            <td>09/13/2021</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Mark</td>
                                            <td>Square Hospitals,Dhaka</td>
                                            <td>09/13/2021</td>
                                            <td>8</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="requests" class="tabcontent">
                            <div class="row gutters-sm">
                                <div class="col-sm-12 mb-3">
                                    <div class="card h-100" id="add-request-card">
                                        <div class="card-body-add-request">
                                            <span class="add-donation-btn"><a href="/new-request" class="add-link">Add
                                                    Request</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Filter Disable -->
                            <!-- <div class="row gutters-sm">
                                <div class="col-sm-12 mb-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="row-filter">
                                                <div class="filter">
                                                    <h1>Add Filters</h1>
                                                </div>
                                                <br>
                                                <div class="row-filter">
                                                    <div class="col-md-12 mb-4">
                                                        <select name="blood_group" class="form-control" id="basic_bg"
                                                            tabindex="-1" "
                                                                    aria-hidden=" true" required>
                                                            <option disabled selected value="">Blood Group</option>
                                                            <option value="A+">A+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B+">B+</option>
                                                            <option value="B-">B-</option>
                                                            <option value="O+">O+</option>
                                                            <option value="O-">O-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-filter">
                                                    <div class="col-md-12 mb-4">
                                                        <select name="gender" class="form-control" id="basic_gender"
                                                            tabindex="-1" "
                                                                aria-hidden=" true" required>
                                                            <option disabled selected value="">District</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-filter">
                                                    <div class="col-md-12 mb-4">
                                                        <select name="gender" class="form-control" id="basic_gender"
                                                            tabindex="-1" "
                                                                aria-hidden=" true" required>
                                                            <option disabled selected value="">District</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="btn-01">
                                                    <button class="reset-btn" type="submit">Reset</button>
                                                    <button class="apply-btn" type="submit">Apply</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Patient's Name</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Date of Donation</th>
                                            <th scope="col">Blood Group</th>
                                            <th scope="col">Quantity(bag/s)</th>
                                            <th scope="col">View</th>
                                            <th scope="col">Resolve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(typeof request !='undefined' ) { %>
                                            <% request.forEach(function(req) { %>
                                                <tr aria-disabled="true">
                                                    <th scope="row">
                                                        <%= req.serialID %>
                                                    </th>
                                                    <td>
                                                        <%= req.patient %>
                                                    </td>
                                                    <td>
                                                        <%= req.location %>
                                                    </td>
                                                    <td>
                                                        <%= req.date %>
                                                    </td>
                                                    <td>
                                                        <%= req.bg %>
                                                    </td>
                                                    <td>
                                                        <%= req.quantity %>
                                                    </td>
                                                    <td><a href="/request/view/<%= req.id %>">View</a></td>
                                                    <% if(req.resolved=='yes' ) { %>
                                                        <td><a href="/request/resolve/<%= req.id %>"
                                                                class="tag_disabled">Resolved</a></td>
                                                        <% } else { %>
                                                            <td><a href="/request/resolve/<%= req.id %>"
                                                                    onclick="return(YNconfirm());">Resolve</a></td>
                                                            <% } %>
                                                </tr>
                                                <% }) %>
                                                    <% } %>
                                                        <!-- <tr>
                                            <th scope="row">1</th>
                                            <td>George Bush Bush</td>
                                            <td>United Hospitals,Dhaka</td>
                                            <td>09/13/2021</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>George Bush</td>
                                            <td>Square Hospitals,Dhaka</td>
                                            <td>09/13/2021</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>George Bush</td>
                                            <td>Apollo Hospitals,Dhaka</td>
                                            <td>09/13/2021</td>
                                            <td>8</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="responses" class="tabcontent">
                            <div class="table-responsive lead">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Patient</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">View Request</th>
                                            <th scope="col">Add</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(typeof response !='undefined' ) { %>
                                            <% response.forEach(function(res) { %>
                                                <tr>
                                                    <th scope="row"><%= res.serialID %></th>
                                                    <td><%= res.patient %></td>
                                                    <td><%= res.location %></td>
                                                    <td><a href="/request/view/<%= res.request_id %>">View</a></td>
                                                    <% if(res.patient_bg == res.user_bg ) { %>
                                                        <td><a href="/add-new-donation?eri=<%= res.request_id %>">Add</a></td>
                                                        <% } else { %>
                                                            <td><a href="/request/add_to_donation/<%= res.request_id %>"
                                                                class="tag_disabled">You can't add</a></td>
                                                            <% } %>
                                                    <!-- <td><a href="#">Add</a></td> -->

                                                </tr>
                                                <% }) %>
                                                <% } %>
                                                        <!-- <tr>
                                                            <th scope="row">2</th>
                                                            <td>Mark Khan</td>
                                                            <td>Swuare Hosplitals, Dhaka</td>
                                                            <td><a href="#">View</a></td>
                                                            <td><a href="#">Add</a></td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Mark Khan</td>
                                                            <td>Swuare Hosplitals, Dhaka</td>
                                                            <td><a href="#">View</a></td>
                                                            <td><a href="#">Add</a></td>
                                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <%- include ("./partials/footer.ejs") %>
            <script>
                function openContent(evt, tabName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it

                if ($("#opening_tab").val() == 'donation') document.getElementById("donationsContent").click();
                else if ($("#opening_tab").val() == 'request') document.getElementById("requestsContent").click();
                else if ($("#opening_tab").val() == 'response') document.getElementById("responsesContent").click();
                else document.getElementById("generalContent").click();
            </script>

            <script>
                function YNconfirm() {
                    if (window.confirm('Do you want to resolve the request?')) {
                        return true;
                    }
                    else
                        return false;
                }

                function animateValue(id, start, end, duration) {
                    console.log(start, end);
                    if (start == end) return;
                    var range = end - start;
                    var current = start;
                    var increment = end > start ? 1 : -1;
                    var stepTime = Math.abs(Math.floor(duration / range));
                    var obj = document.getElementById(id);
                    var timer = setInterval(function () {
                        current += increment;
                        obj.innerHTML = current;
                        if (current == end) {
                            clearInterval(timer);
                        }
                    }, stepTime);
                }

                animateValue("elg-score", 0, $("#eligibility_counting").val(), 500);
                animateValue("responds-count", 0, $("#donation_counting").val(), 500);
                animateValue("requests-count", 0, $("#requests_counting").val(), 500);
            </script>



</body>

</html>