<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>View-Profile</title>
    <!-- ALL CSS RESET -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/cssReset.css"> -->
    <!-- BOOT STRAP v4.3.1 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <!-- FOR NAVBAR -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- fontawesome 5 webkit from abdullah -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">  -->
    <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myProfile.css">
    <link rel="stylesheet" type="text/css" href="/css/viewProfile.css">

    <!-- FOR NAVBAR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->

    <!-- included from template -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div id="preloader"></div>

    <%- include ("./partials/navbar.ejs", {name: navbar.name, photo: navbar.photo, notification_count: navbar.notification_count, notifiactions: notifications}) %>

        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="<%= user.img %>" alt="Admin" class="rounded-circle" width="250">
                                    <div class="mt-3">
                                        <h4>
                                            <%= user.fullname %>
                                        </h4>
                                        <p class="text-danger mb-1" style="font-weight: 500; font-size: x-large;">
                                            <%= user.bg %>
                                                <!-- AB+ -->
                                        </p>
                                        <p class="text-muted text-alert font-size-sm" style="letter-spacing: 1px;">
                                            <%= user.profession %></p>
                                        <!-- <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-outline-primary">Message</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" id="profile">
                            <input id="requests_counting" type="text" value="<%= user.requests_count %>">
                            <input id="eligibility_counting" type="text" value="<%= user.eligibility_score %>">
                            <input id="donation_counting" type="text" value="<%= user.donated %>">
                        </div>
                        <!-- <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-globe mr-2 icon-inline">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="2" y1="12" x2="22" y2="12"></line>
                                        <path
                                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                        </path>
                                    </svg>Badges Earned</h6>
                                <span class="text-secondary">https://bootdey.com</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-twitter mr-2 icon-inline text-info">
                                        <path
                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                        </path>
                                    </svg>Twitter</h6>
                                <span class="text-secondary">@bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-instagram mr-2 icon-inline text-danger">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>Instagram</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-facebook mr-2 icon-inline text-primary">
                                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                        </path>
                                    </svg>Facebook</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                        </ul>
                    </div> -->
                    </div>
                    <div class="col-md-8">

                        <div class="row gutters-sm">

                            <div class="col-sm-4 mb-3">
                                <a href="/view/eligibility-report/<%= user.id %>" style="color: #1a202c; text-decoration: none;">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h4>Eligibility Score</h4>
                                            <h1 class="eligibility-score" id="elg-score">0</h1>
                                            <h6 class="text">out of 10</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>Donated</h4>
                                        <h6 class="text">about</h6>
                                        <h1 class="no-of-responds" id="responds-count">0</h1>
                                        <h6 class="text">times</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>Requested</h4>
                                        <h6 class="text">for</h6>
                                        <h1 class="no-of-requests" id="requests-count">0</h1>
                                        <h6 class="text">bag(s)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%= user.fullname %>
                                            <!-- Anas Jawad -->
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%= user.email %>
                                            <!-- anas@iut-dhaka.edu -->
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Profession</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%= user.profession %>
                                            <!-- abcd@gmail.com -->
                                    </div>
                                </div>
                                <hr>
                                <% if(user.responder=='yes' ) { %>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Contact</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <%= user.contact %>
                                                <!-- Anas Jawad -->
                                        </div>
                                    </div>
                                    <hr>
                                    <% } %>
                                        <!-- <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Date of Birth</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.dob %>
                                            </div>
                                        </div>
                                        <hr> -->
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Age</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.age %> year(s)
                                                    <!-- 03/28/1999 -->
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Blood Group</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.bg %>
                                                    <!-- AB+ -->
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Gender</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.gender %>
                                                    <!-- Male -->
                                            </div>
                                        </div>
                                        <hr>

                                        <!-- <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Average Score</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    7.2 (out of 10)
                                </div>
                            </div>
                            <hr> -->
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Address</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.address %>
                                                    <!-- House #3, OR Nizam Road, Kotwali, Chattogram Chattogram -->
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info " target="__blank"
                                        href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                                </div>
                            </div> -->
                            </div>
                        </div>

                        <!-- <div class="row gutters-sm">
                        <div class="col-sm-12 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i
                                            class="material-icons text-info mr-2">Record of User</i></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class="mb-0">Total Reponses</h6>
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            12
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class="mb-0">Total Requests</h6>
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            2
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class="mb-0">Avergae Test Score</h6>
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            7.5 (Out of 10)
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class="mb-0">Member Since</h6>
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            12th September, 2021
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            House, Street, Thana, District, Division
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div> -->
                        <!-- 
                    #################################
                    #########ENTER TABLE HERE########
                    ################################# -->





                    </div>
                </div>

            </div>
        </div>

        <%- include ("./partials/footer.ejs") %>

        <script>
            var loader = document.getElementById("preloader");

            window.addEventListener("load", function(){
                loader.style.display = "none";
            })
        </script>
        
            <script>
                function animateValue(id, start, end, duration) {
                    // console.log(start, end);
                    if (start == end) return;
                    var range = end - start;
                    var current = start;
                    var increment = end > start ? 1 : -1;
                    var stepTime = Math.abs(Math.floor(duration / range));
                    var obj = document.getElementById(id);
                    var timer = setInterval(function () {
                        current += increment;
                        obj.innerHTML = current;
                        if (current == end) {
                            clearInterval(timer);
                        }
                    }, stepTime);
                }

                animateValue("elg-score", 0, $("#eligibility_counting").val(), 500);
                animateValue("responds-count", 0, $("#donation_counting").val(), 500);
                animateValue("requests-count", 0, $("#requests_counting").val(), 500);
            </script>
</body>

</html>